@import url('./base/variables.css');
@import url('./base/reset.css');

@import url('./components/header.css');
@import url('./components/buttons.css');
@import url('./components/forms.css');
@import url('./components/filters.css');
@import url('./components/cards.css');
@import url('./components/modals.css');
@import url('./components/footer.css');

@import url('./layout/animations.css');
@import url('./layout/responsive.css');
